.title-lg {
  font: var(--title-lg);
}

.title-md {
  font: var(--title-md);
}

.title-sm {
  font: var(--title-sm);
}

.subtitle {
  font: var(--subtitle);
}

.text-md {
  font: var(--text-md);
}

.text-sm {
  font: var(--text-sm);
}

.grid {
  display: grid;
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-row-2 {
  grid-template-rows: repeat(2, 1fr);
}